src/proyectoTienda/inc/correo/configuracionCorreo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="configuracionCorreo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="servidor" type="xs:string" />
                <xs:element name="usuario" type="xs:string" />
                <xs:element name="password" type="xs:string" />
                <xs:element name="encriptacion" type="xs:string"/>
                <xs:element name="puerto" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>